AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change-me
AIRFLOW_DB_NAME=airflow_db

WAREHOUSE_DB_USER=warehouse
WAREHOUSE_DB_PASSWORD=change-me
WAREHOUSE_DB_NAME=warehouse_db

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change-me

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/your/webhook/url
